fieldset[disabled] .multiselect {
    pointer-events: none
}

.multiselect__spinner {
    background: #fff;
    display: block;
    height: 38px;
    position: absolute;
    right: 1px;
    top: 1px;
    width: 40px
}

.multiselect__spinner:after, .multiselect__spinner:before {
    border: 2px solid transparent;
    border-radius: 100%;
    border-top-color: #41b883;
    box-shadow: 0 0 0 1px transparent;
    content: "";
    height: 16px;
    left: 50%;
    margin: -8px 0 0 -8px;
    position: absolute;
    top: 50%;
    width: 16px
}

.multiselect__spinner:before {
    animation: spinning 2.4s cubic-bezier(.41, .26, .2, .62);
    animation-iteration-count: infinite
}

.multiselect__spinner:after {
    animation: spinning 2.4s cubic-bezier(.51, .09, .21, .8);
    animation-iteration-count: infinite
}

.multiselect__loading-enter-active, .multiselect__loading-leave-active {
    opacity: 1;
    transition: opacity .4s ease-in-out
}

.multiselect__loading-enter, .multiselect__loading-leave-active {
    opacity: 0
}

.multiselect, .multiselect__input, .multiselect__single {
    font-family: inherit;
    font-size: 16px;
    touch-action: manipulation
}

.multiselect {
    box-sizing: content-box;
    color: #35495e;
    display: block;
    min-height: 40px;
    position: relative;
    text-align: left;
    width: 100%
}

.multiselect * {
    box-sizing: border-box
}

.multiselect:focus {
    outline: none
}

.multiselect--disabled {
    background: #ededed;
    opacity: .6;
    pointer-events: none
}

.multiselect--active {
    z-index: 50
}

.multiselect--active:not(.multiselect--above) .multiselect__current, .multiselect--active:not(.multiselect--above) .multiselect__input, .multiselect--active:not(.multiselect--above) .multiselect__tags {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.multiselect--active .multiselect__select {
    transform: rotate(180deg)
}

.multiselect--above.multiselect--active .multiselect__current, .multiselect--above.multiselect--active .multiselect__input, .multiselect--above.multiselect--active .multiselect__tags {
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.multiselect__input, .multiselect__single {
    background: #fff;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    min-height: 20px;
    padding: 0 0 0 5px;
    position: relative;
    transition: border .1s ease;
    vertical-align: top;
    width: 100%
}

.multiselect__input::-moz-placeholder {
    color: #35495e
}

.multiselect__input::placeholder {
    color: #35495e
}

.multiselect__tag ~ .multiselect__input, .multiselect__tag ~ .multiselect__single {
    width: auto
}

.multiselect__input:hover, .multiselect__single:hover {
    border-color: #cfcfcf
}

.multiselect__input:focus, .multiselect__single:focus {
    border-color: #a8a8a8;
    outline: none
}

.multiselect__single {
    margin-bottom: 8px;
    padding-left: 5px
}

.multiselect__tags-wrap {
    display: inline
}

.multiselect__tags {
    background: #fff;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    display: block;
    font-size: 14px;
    min-height: 40px;
    padding: 8px 40px 0 8px
}

.multiselect__tag {
    background: #41b883;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    line-height: 1;
    margin-bottom: 5px;
    margin-right: 10px;
    max-width: 100%;
    overflow: hidden;
    padding: 4px 26px 4px 10px;
    position: relative;
    text-overflow: ellipsis;
    white-space: nowrap
}

.multiselect__tag-icon {
    border-radius: 5px;
    bottom: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-left: 7px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all .2s ease;
    width: 22px
}

.multiselect__tag-icon:after {
    color: #266d4d;
    content: "\D7";
    font-size: 14px
}

.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
    background: #369a6e
}

.multiselect__tag-icon:focus:after, .multiselect__tag-icon:hover:after {
    color: #fff
}

.multiselect__current {
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    min-height: 40px;
    overflow: hidden;
    padding: 8px 30px 0 12px;
    white-space: nowrap
}

.multiselect__current, .multiselect__select {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    line-height: 16px;
    margin: 0;
    -webkit-text-decoration: none;
    text-decoration: none
}

.multiselect__select {
    height: 38px;
    padding: 4px 8px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    transition: transform .2s ease;
    width: 40px
}

.multiselect__select:before {
    border-color: #999 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 0;
    color: #999;
    content: "";
    margin-top: 4px;
    position: relative;
    right: 0;
    top: 65%
}

.multiselect__placeholder {
    color: #adadad;
    display: inline-block;
    margin-bottom: 10px;
    padding-top: 2px
}

.multiselect--active .multiselect__placeholder {
    display: none
}

.multiselect__content-wrapper {
    -webkit-overflow-scrolling: touch;
    background: #fff;
    border: 1px solid #e8e8e8;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: none;
    display: block;
    max-height: 240px;
    overflow: auto;
    position: absolute;
    width: 100%;
    z-index: 50
}

.multiselect__content {
    display: inline-block;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    vertical-align: top
}

.multiselect--above .multiselect__content-wrapper {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 1px solid #e8e8e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    bottom: 100%
}

.multiselect__content::webkit-scrollbar {
    display: none
}

.multiselect__element {
    display: block
}

.multiselect__option {
    cursor: pointer;
    display: block;
    line-height: 16px;
    min-height: 40px;
    padding: 12px;
    position: relative;
    -webkit-text-decoration: none;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    white-space: nowrap
}

.multiselect__option:after {
    font-size: 13px;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 12px;
    position: absolute;
    right: 0;
    top: 0
}

.multiselect__option--highlight {
    background: #41b883;
    color: #fff;
    outline: none
}

.multiselect__option--highlight:after {
    background: #41b883;
    color: #fff;
    content: attr(data-select)
}

.multiselect__option--selected {
    background: #f3f3f3;
    color: #35495e;
    font-weight: 700
}

.multiselect__option--selected:after {
    background: inherit;
    color: silver;
    content: attr(data-selected)
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    color: #fff;
    content: attr(data-deselect)
}

.multiselect--disabled .multiselect__current, .multiselect--disabled .multiselect__select {
    background: #ededed;
    color: #a6a6a6
}

.multiselect__option--disabled {
    background: #ededed !important;
    color: #a6a6a6 !important;
    cursor: text;
    pointer-events: none
}

.multiselect__option--group {
    background: #ededed;
    color: #35495e
}

.multiselect__option--group.multiselect__option--highlight {
    background: #35495e;
    color: #fff
}

.multiselect__option--group.multiselect__option--highlight:after {
    background: #35495e
}

.multiselect__option--disabled.multiselect__option--highlight {
    background: #dedede
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #ff6a6a;
    color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background: #ff6a6a;
    color: #fff;
    content: attr(data-deselect)
}

.multiselect-enter-active, .multiselect-leave-active {
    transition: all .15s ease
}

.multiselect-enter, .multiselect-leave-active {
    opacity: 0
}

.multiselect__strong {
    display: inline-block;
    line-height: 20px;
    margin-bottom: 8px;
    vertical-align: top
}

[dir=rtl] .multiselect {
    text-align: right
}

[dir=rtl] .multiselect__select {
    left: 1px;
    right: auto
}

[dir=rtl] .multiselect__tags {
    padding: 8px 8px 0 40px
}

[dir=rtl] .multiselect__content {
    text-align: right
}

[dir=rtl] .multiselect__option:after {
    left: 0;
    right: auto
}

[dir=rtl] .multiselect__clear {
    left: 12px;
    right: auto
}

[dir=rtl] .multiselect__spinner {
    left: 1px;
    right: auto
}

@keyframes spinning {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(2turn)
    }
}

.multiselect__option--group {
    background: #fafafa !important;
    color: #334155 !important;
    font-weight: 500;
    text-transform: capitalize
}

.multiselect__option--highlight {
    background-color: #a78bfa
}

.multiselect__option, .multiselect__single {
    font-size: 14px
}

.multiselect {
    min-height: 38px
}

.multiselect__single {
    margin: 0;
    padding: 0
}

.multiselect__select {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggc3Ryb2tlPScjNmI3MjgwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMS41JyBkPSdtNiA4IDQgNCA0LTQnLz48L3N2Zz4=);
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    height: 36px;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    width: 36px;
    z-index: 10
}

.multiselect__option--selected.multiselect__option--highlight {
    background-color: #8b5cf6
}

.multiselect--active .multiselect__select {
    transform: rotate(180)
}

.multiselect__select:before {
    display: none
}

.multiselect__tags {
    --tw-border-opacity: 1;
    border-color: #cbd5e1;
    border-color: rgb(203 213 225/var(--tw-border-opacity));
    border-radius: 6px;
    height: 38px;
    min-height: 38px;
    padding-left: 12px;
    padding-right: 12px
}

.multiselect__content-wrapper, .multiselect__tags {
    --tw-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: 0 0 transparent, 0 0 transparent, 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.multiselect__content-wrapper {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px
}

.multiselect__input:focus, .multiselect__single:focus {
    box-shadow: none !important;
    font-size: 14px;
    margin: 0;
    padding: 0
}

.multiselect__placeholder {
    height: 20px;
    margin: 0;
    padding: 0
}

.multiselect__option--selected {
    background-color: #fff;
    color: #8b5cf6;
    font-weight: 600
}


select {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAyMCAyMCc+PHBhdGggc3Ryb2tlPScjNmI3MjgwJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMS41JyBkPSdtNiA4IDQgNCA0LTQnLz48L3N2Zz4=);
    background-position: right .5rem center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    padding-right: 2.5rem;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact
}

[multiple] {
    background-image: none;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    background-size: initial;
    padding-right: .75rem;
    -webkit-print-color-adjust: inherit;
    print-color-adjust: inherit
}

[type=checkbox], [type=radio] {
    --tw-shadow: 0 0 transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    background-origin: border-box;
    border-color: #6b7280;
    border-width: 1px;
    color: #2563eb;
    display: inline-block;
    flex-shrink: 0;
    height: 1rem;
    padding: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
    width: 1rem
}

[type=checkbox] {
    border-radius: 0
}

[type=radio] {
    border-radius: 100%
}

[type=checkbox]:focus, [type=radio]:focus {
    --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    --tw-ring-offset-width: 2px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: #2563eb;
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #2563eb, var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px
}

[type=checkbox]:checked, [type=radio]:checked {
    background-color: currentColor;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent
}

[type=checkbox]:checked {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmZmYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PHBhdGggZD0nTTEyLjIwNyA0Ljc5M2ExIDEgMCAwIDEgMCAxLjQxNGwtNSA1YTEgMSAwIDAgMS0xLjQxNCAwbC0yLTJhMSAxIDAgMCAxIDEuNDE0LTEuNDE0TDYuNSA5LjA4Nmw0LjI5My00LjI5M2ExIDEgMCAwIDEgMS40MTQgMHonLz48L3N2Zz4=)
}

[type=radio]:checked {
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMTYgMTYnIGZpbGw9JyNmZmYnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2Zyc+PGNpcmNsZSBjeD0nOCcgY3k9JzgnIHI9JzMnLz48L3N2Zz4=)
}

[type=checkbox]:checked:focus, [type=checkbox]:checked:hover, [type=radio]:checked:focus, [type=radio]:checked:hover {
    background-color: currentColor;
    border-color: transparent
}

[type=checkbox]:indeterminate {
    background-color: currentColor;
    background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIGZpbGw9J25vbmUnIHZpZXdCb3g9JzAgMCAxNiAxNic+PHBhdGggc3Ryb2tlPScjZmZmJyBzdHJva2UtbGluZWNhcD0ncm91bmQnIHN0cm9rZS1saW5lam9pbj0ncm91bmQnIHN0cm9rZS13aWR0aD0nMicgZD0nTTQgOGg4Jy8+PC9zdmc+);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-color: transparent
}

[type=checkbox]:indeterminate:focus, [type=checkbox]:indeterminate:hover {
    background-color: currentColor;
    border-color: transparent
}

[type=file] {
    background: transparent none repeat 0 0/auto auto padding-box border-box scroll;
    background: initial;
    border-color: inherit;
    border-radius: 0;
    border-width: 0;
    font-size: inherit;
    line-height: inherit;
    padding: 0
}

[type=file]:focus {
    outline: 1px solid ButtonText;
    outline: 1px auto -webkit-focus-ring-color
}

.grid-bg {
    top: 102%
}

.grid-bg, .grid-bg:after {
    left: 0;
    position: absolute;
    width: 100%
}

.grid-bg:after {
    -webkit-backface-visibility: hidden;
    -webkit-background-clip: content-box;
    background-image: linear-gradient(90deg, #8b5cf6 1px, transparent 0), linear-gradient(180deg, #8b5cf6 1px, transparent 0);
    background-position: bottom;
    background-size: 100px 50px;
    bottom: 0;
    content: "";
    display: block;
    height: 100vh;
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(#000), to(transparent));
    outline: 1px solid transparent;
    padding: 1px;
    right: 0;
    transform: perspective(400px) rotateX(40deg) scaleX(2) translateZ(0);
    transform-origin: bottom center;
    will-change: transform
}

.slogan:hover .anything {
    -webkit-text-fill-color: transparent;
    animation: text-gradient 2s linear infinite;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #fb7185, #d946ef, #6366f1, #d946ef, #fb7185), linear-gradient(90deg, #fb7185, #d946ef, #6366f1, #d946ef, #fb7185);
    background-size: 200% 100%
}

@keyframes text-gradient {
    0% {
        background-position: 0 0
    }
    to {
        background-position: 200% 0
    }
}

.typed-element {
    justify-content: center
}

@media (max-width: 768px) {
    .grid-bg {
        top: 85%
    }

    .typed-element {
        justify-content: flex-start
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none
}

.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none
}

.font-display {
    font-family: Lexend, ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, segoe ui, helvetica neue, Arial, noto sans, apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji
}

body {
    font-family: "Nunito",sans-serif;
}

.gradients {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.gradients .circle.orange {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,61,0,.15) 0,hsla(0,0%,100%,0) 100%);
    left: -27rem;
    top: -20rem;
}

.gradients .circle {
    height: 35rem;
    width: 35rem;
    position: absolute;
    border-radius: 50%;
}

.gradients .circle.purple {
    background: radial-gradient(50% 50% at 50% 50%,rgba(101,31,255,.15) 0,hsla(0,0%,100%,0) 100%);
    right: -27rem;
    top: -20rem;
}

.gradients .circle.yellow {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,213,79,.2) 0,hsla(0,0%,100%,0) 100%);
    left: auto;
    right: auto;
    bottom: -25rem;
}

.gradientsSection {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: -1;
}

.gradientsSection .circle {
    height: 40rem;
    width: 40rem;
    position: absolute;
    border-radius: 50%;
    top: -7rem
}

.gradientsSection .circle.orange {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,61,0,.1) 0,hsla(0,0%,100%,0) 100%)
}

.gradientsSection .circle.purple {
    background: radial-gradient(50% 50% at 50% 50%,rgba(101,31,255,.1) 0,hsla(0,0%,100%,0) 100%)
}

.gradientsSection .circle.yellow {
    background: radial-gradient(50% 50% at 50% 50%,rgba(255,213,79,.1) 0,hsla(0,0%,100%,0) 100%)
}
